.flickity-viewport {
  transition: height 0.3s;
}

.flickity-prev-next-button {
  background-size: rem-calc(20);
  background: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0;

  width: rem-calc(40);
  height: rem-calc(40);
  padding: 0;

  &:hover {
    background: transparent;
    background-size: rem-calc(20);
    background: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
  }

  &.next {
    right: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='22' viewBox='0 0 20 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.8667 10.3657C19.7873 10.1611 19.6684 9.97418 19.5167 9.81567L11.1833 1.48234C11.0279 1.32694 10.8435 1.20368 10.6404 1.11957C10.4374 1.03547 10.2198 0.992187 10 0.992188C9.55616 0.992187 9.13051 1.1685 8.81667 1.48234C8.66127 1.63774 8.538 1.82222 8.4539 2.02526C8.3698 2.2283 8.32651 2.44591 8.32651 2.66567C8.32651 3.10951 8.50283 3.53517 8.81667 3.84901L14.3167 9.33234H1.66667C1.22464 9.33234 0.800716 9.50794 0.488156 9.8205C0.175595 10.1331 0 10.557 0 10.999C0 11.441 0.175595 11.865 0.488156 12.1775C0.800716 12.4901 1.22464 12.6657 1.66667 12.6657H14.3167L8.81667 18.149C8.66045 18.3039 8.53646 18.4883 8.45185 18.6914C8.36723 18.8945 8.32367 19.1123 8.32367 19.3323C8.32367 19.5524 8.36723 19.7702 8.45185 19.9733C8.53646 20.1764 8.66045 20.3607 8.81667 20.5157C8.9716 20.6719 9.15594 20.7959 9.35904 20.8805C9.56214 20.9651 9.77998 21.0087 10 21.0087C10.22 21.0087 10.4379 20.9651 10.641 20.8805C10.8441 20.7959 11.0284 20.6719 11.1833 20.5157L19.5167 12.1823C19.6684 12.0238 19.7873 11.8369 19.8667 11.6323C20.0334 11.2266 20.0334 10.7714 19.8667 10.3657Z' fill='%2300AFFF'/%3E%3C/svg%3E%0A");
  }

  &.previous {
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='22' viewBox='0 0 20 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.3328 9.33234H5.68284L11.1828 3.84901C11.4967 3.53517 11.673 3.10951 11.673 2.66567C11.673 2.22184 11.4967 1.79618 11.1828 1.48234C10.869 1.1685 10.4433 0.992188 9.9995 0.992188C9.55567 0.992188 9.13001 1.1685 8.81617 1.48234L0.482835 9.81567C0.331101 9.97418 0.212159 10.1611 0.132835 10.3657C-0.0338617 10.7714 -0.0338617 11.2266 0.132835 11.6323C0.212159 11.8369 0.331101 12.0238 0.482835 12.1823L8.81617 20.5157C8.97111 20.6719 9.15544 20.7959 9.35854 20.8805C9.56164 20.9651 9.77948 21.0087 9.9995 21.0087C10.2195 21.0087 10.4374 20.9651 10.6405 20.8805C10.8436 20.7959 11.0279 20.6719 11.1828 20.5157C11.3391 20.3607 11.463 20.1764 11.5477 19.9733C11.6323 19.7702 11.6758 19.5524 11.6758 19.3323C11.6758 19.1123 11.6323 18.8945 11.5477 18.6914C11.463 18.4883 11.3391 18.3039 11.1828 18.149L5.68284 12.6657H18.3328C18.7749 12.6657 19.1988 12.4901 19.5113 12.1775C19.8239 11.865 19.9995 11.441 19.9995 10.999C19.9995 10.557 19.8239 10.1331 19.5113 9.8205C19.1988 9.50794 18.7749 9.33234 18.3328 9.33234Z' fill='%2300AFFF'/%3E%3C/svg%3E%0A");
  }

  svg {
    display: none;
  }
}

.flickity-page-dots {
  bottom: 0;

  .dot {
    background: $blue-60;
  }
}
