$blue-100: #143c7d;
$blue-80: #0064af;
$blue-60: #00afff;

$cyan-100: #00aab4;

$yellow-100: #f5aa32;
$red-100: #ff463c;
$pink-100: #be0082;

$white: #ffffff;

$black-100: #000000;
$black-80: #1b2430;
$black-60: #495059;
$black-40: #8d9298;

$grey-100: #bbbdc1;
$grey-80: #ebebec;
$grey-60: #f6f6f7;

$error: #e51414;
$warning: #0070d8;
$success: #1b7d2c;

$shadow-2: 0px 8px 24px rgba(0, 0, 0, 0.16);

$font-heading: "Montserrat", sans-serif;
$font-body: "Open Sans", sans-serif;
